@use "../../styles/_variables.scss" as *;
@use "../../styles/_mixin.scss" as *;

.list {
  margin-bottom: 21px;
  height: calc(80vh - 210px);
  overflow: auto;
  @include customScroll();

  .task {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px 5px 5px;
    border-radius: 5px;
    transition: background-color 0.1s;

    &:hover {
      background-color: $taskHovered;
    }

    .text {
      position: relative;

      .value {
        width: 260px;
        overflow-y: auto;
        font-size: 14px;

        @media (max-width: 480px) {
          width: 175px;
          font-size: 13px;
        }

        @include customScroll();

        .note {
          position: relative;
          padding-left: 5px;

          .line {
            position: absolute;
            top: 10px;
            left: 3px;
            transform: translateY(-50%);
            height: 2px;
            width: 100%;
            background-color: #ff0000;
            visibility: hidden;
            opacity: 0;
            transition: opacity 0.1s;
          }

          .show-line {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }

    .actions {
      display: flex;

      .action {
        @include button(50px);
        padding: 3px 12px;
        background-color: transparent;

        &:hover {
          background-color: $actionButtonHover;
        }

        &:not(:last-child) {
          margin-right: 5px;
        }

        @media (max-width: 480px) {
          width: 40px;
          padding: 0px 5px;
        }

        .img {
          width: 20px;
          height: 20px;
          user-select: none;
        }
      }
    }
  }
}
