@use "../../styles/_variables.scss" as *;
@use "../../styles/_mixin.scss" as *;

.list {
  margin-bottom: 21px;

  .task {
    position: relative;
    margin-top: -1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.1s;

    &::before {
      content: "";
      position: absolute;
      height: 1px;
      width: calc(100% - 8px);
      bottom: 0;
      left: 4px;
      background-color: $secondaryBackground;
    }

    &:hover {
      background-color: $secondaryBackground;
    }

    .text {
      position: relative;

      .line {
        position: absolute;
        top: 56%;
        left: 51%;
        transform: translate(-50%, -50%);
        height: 2px;
        width: 112%;
        background-color: $buttonRedColor;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.2s;
      }

      .show-line {
        visibility: visible;
        opacity: 1;
      }
    }

    .actions {
      display: flex;

      .action {
        @include button(50px);
        padding: 3px 12px;

        &:not(:last-child) {
          margin-right: 5px;
        }

        .img {
          width: 20px;
          height: 20px;
          user-select: none;
        }
      }
    }
  }
}
