@use "../../styles/_variables.scss" as *;
@use "../../styles/_mixin.scss" as *;

.panel {
  .filters {
    display: flex;
    justify-content: center;
    margin-bottom: 7px;

    .filter {
      &:not(:last-child) {
        margin-right: 10px;
      }

      .all {
        @include button(65px);
      }

      .active {
        @include button(90px);
      }

      .completed {
        @include button(125px);
      }

      .selected {
        background-color: $buttonBackgroundSelected;
      }

      .filter-action {
        font-size: 13px;
        font-weight: 400;
      }
    }
  }

  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .info {
    }

    .clear {
      @include button(155px);
      font-size: 13px;
      font-weight: 400;
    }
  }
}
