@use "./_variables.scss" as *;

@mixin button($width) {
  display: block;
  padding: 7px;
  width: $width;
  border: 1px solid $borderColor;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: $shh;
  transition: background-color 0.2s;

  &:hover {
    background-color: $tertaryBackground;
  }
}

@mixin input() {
  position: relative;
  width: inherit;
  padding: 9px;
  height: 40px;
  color: $primaryColor;
  background-color: $secondaryBackground;
  border-radius: 5px;
  border: 1px solid $borderColor;

  &:focus {
    outline: none;
    border: 1px solid $secondaryColor;
  }
}

@mixin customScroll() {
  &::-webkit-scrollbar {
    // width: 1px; /* ширина scrollbar */
    width: 3px;
    height: 3px;
  }

  &::-webkit-scrollbar-track {
    background: transparent; /* цвет дорожки */
  }

  &::-webkit-scrollbar-thumb {
    background-color: $shh; /* цвет плашки */
    border-radius: 5px; /* закругления плашки */
    // border: 3px solid red; /* padding вокруг плашки */
  }
}
