@use "./_variables.scss" as *;

@mixin button($width) {
  display: block;
  padding: 7px;
  width: $width;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: $secondaryColor;
  background-color: $buttonBackgroundDefault;
  transition: background-color 0.2s;

  &:hover {
    background-color: $buttonBackgroundHover;
  }
}

@mixin input() {
  position: relative;
  width: inherit;
  padding: 9px;
  height: 40px;
  color: $primaryColor;
  background-color: $inputBackgroundDefault;
  border-radius: 5px;
  border: 1px solid $inputBorder;

  &:focus {
    outline: none;
    border: 2px solid $inputFocusBorderColor;
  }

  &:hover {
    outline: none;
    border: 2px solid $inputHoverBorderColor;
  }
}

@mixin customScroll() {
  &::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $scrollColor;
    border-radius: 5px;
  }
}
