$primaryBackground: #fff;

$inputBorder: #000;
$inputBackgroundDefault: #fff;
$inputFocusBorderColor: #006bd6;
$inputHoverBorderColor: #77bbff;
$inputPlaceholderColor: #000;

$buttonBackgroundDefault: #006bd6;
$buttonBackgroundHover: #004080;
$buttonBackgroundSelected: #004080;

$primaryColor: #000;
$secondaryColor: #ffffff;

$taskHovered: #baddff;

$actionButtonHover:#77bbff;

$scrollColor: #004080;