$primaryBackground: #010409; // main background color
$secondaryBackground: #151b23; // some windows
$tertaryBackground: #0d1117; // some windows

$primaryColor: #f0f6fc; // main text color
$secondaryColor: #9198a1; // secondary text, placeholders, links might be too

$buttonBackgroundColor: #212830;
$buttonBackgroundColorHover: #262c36;

$buttonGreen: #238636; // color's gotta be $primaryColor
$buttonGreenHover: #29903b;
$buttonRedColor: #fa5e55; // background's gotta be $buttonBackgroundColor
$buttonRedBackgroundHover: #fa5e55; // color should become $primaryColor

$borderColor: #3d444db3;

$linkColor: #4493f8; // link color, input focus
$shh: #f49bad;
